body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f7fd; /* Light blue background */
    color: #333; /* Dark gray text color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 40px;
    background-color: #fff; /* White background for the container */
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Adjusted max-width for smaller screens */
}

h1 {
    margin-bottom: 20px;
    color: #2c3e50; /* Dark blue color for heading */
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ecf0f3; /* Light grayish blue background for input */
    color: #333; /* Dark gray text color */
    border: 1px solid #dcdcdc; /* Light gray border */
}

button[type="submit"] {
    background-color: #3498db; /* Blue color for buttons */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

h2 {
    margin-top: 30px;
    color: #2c3e50; /* Dark blue color for secondary headings */
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #3498db; /* Blue color for links */
}

.video-name {
    color: #3498db; /* Blue color for video name */
    font-weight: lighter;
}

/* Media query for screens smaller than 768px (tablets and smartphones) */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    h1 {
        font-size: 24px; /* Decreased font size for smaller screens */
    }
    input[type="text"] {
        font-size: 14px; /* Decreased font size for smaller screens */
    }
    button[type="submit"] {
        font-size: 14px; /* Decreased font size for smaller screens */
    }
    h2 {
        font-size: 20px; /* Decreased font size for smaller screens */
    }
    a {
        font-size: 14px; /* Decreased font size for smaller screens */
    }
}